/* This stylesheet is linked to index.html and about.html to alter styles in CSS */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow-wrap: normal;
    text-shadow: black 3px 3px 3px;
}

/* Create background color for safety and initializing background image for appearance */
body {
    background-color: black;
    background-image: url(images/background1.jpg);
}

.top {
    font-size: 300%;
}

.headline {
    color: rgb(255, 255, 255);
    font-size: 200%;
    text-shadow: black 3px 3px 3px;
    text-align: center;
}

.wrapper {
    border: 3px solid rgba(255, 255, 255, 0.082);
    background-color: rgba(61, 61, 61, 0.445);
    width: 1620px;
    height: 1060px;
    position: fixed;
    left: 10%;

}

.banner {
    height: 140px;
    width: 1620px;
    color: white;
    padding: 10px;
    top: 0%;


}

#personal1 {
    border: 2px solid rgba(255, 255, 255, 0.082);
    position: absolute;
    left: 35px;
    top: 200px;
    float: left;
    width: 335px;
    height: 300px;
    border: 2px solid;
    color: rgba(255, 255, 255, 0.082);
}

nav a {
    float: right;
    font-size: 400%;
    padding: 0px;
    list-style: none;
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

.links a:hover {
    margin-top: 15px;
    transition: .3s;
}


#skills {
    float: right;
    width: 340px;
    height: 325px;
    left: 830px;
    right: 20px;
    position: absolute;
    top: 180px;
    border: 2px solid rgba(255, 255, 255, 0.082);

}

#personal_info {
    float: left;
    width: 340px;
    height: 325px;
    left: 420px;
    right: 20px;
    position: absolute;
    top: 180px;
    border: 2px solid rgba(255, 255, 255, 0.082);

}

#courses {
    float: left;
    width: 340px;
    height: 325px;
    left: 1240px;
    right: 20px;
    position: absolute;
    top: 180px;
    border: 2px solid rgba(255, 255, 255, 0.082);
}

#Experience {
    float: left;
    width: 725px;
    height: 400px;
    left: 35px;
    position: absolute;
    top: 540px;
    border: 2px solid rgba(255, 255, 255, 0.082);
}

#Education {
    float: left;
    width: 750px;
    height: 400px;
    left: 830px;
    position: absolute;
    top: 540px;
    border: 2px solid rgba(255, 255, 255, 0.082);
}

.infobox {
    list-style: url(images/arrow-icon--myiconfinder-23.png);
    font-size: 120%;
    font-weight: bold;

}

#via_list {
    list-style: url(images/arrow-icon--myiconfinder-23.png);
    font-weight: bold;
    font-size: 15px;
    text-shadow: black 1px 1px 1px;
}

.subtext {
    font-size: 80%;
    margin-top: 0%;
    font-weight: 100;
    font-weight: bold;

}

.bodytext {
    font-size: 15px;
    margin-top: 0px;
    text-shadow: black 1px 1px 1px;
    font-weight: bold;
}

.linebreak {
    border: 2px solid rgba(255, 255, 255, 0.082);
    margin-top: 5%;
    margin-bottom: 5%;
}

.linebreaktop {
    border: 2px solid rgba(255, 255, 255, 0.082);
}

#My_hometown {
    float: left;
    width: 725px;
    height: 750px;
    left: 50px;
    position: absolute;
    top: 180px;
    border: 2px solid rgba(255, 255, 255, 0.082);
}

#About_VIA {
    float: left;
    width: 725px;
    height: 750px;
    left: 840px;
    position: absolute;
    top: 180px;
    border: 2px solid rgba(255, 255, 255, 0.082);
}

#toftlund_pic {
    margin-top: 110px;
    height: 431px;
    width: 695px;
    border: 2px solid;
    color: rgba(255, 255, 255, 0.082);
}

#aarhus_pic {
    margin-top: 50px;
    height: 210px;
    width: 695px;
    border: 2px solid;
    color: rgba(255, 255, 255, 0.082);
}

#horsens_pic {
    margin-top: 10px;
    height: 210px;
    width: 695px;
    border: 2px solid;
    color: rgba(255, 255, 255, 0.082);
}


/* Create a clearfix standard to contain elements larger than fitted - will contain INSIDE of container*/
.clearfix {
    overflow: hidden;
}